# Object files
*.o

# Dependency files
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Binary Images
*.elf
*.boot
*.bin

# Xinu build files
xinu/compile/config/config
xinu/compile/config/y.tab.h
xinu/compile/config/parse.c
xinu/compile/version
xinu/compile/vn
xinu/include/conf.h
xinu/system/conf.c
