# Object files
*.o

# Dependency files
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Binary Images
*.elf
*.boot
*.bin

# Xinu build files
xinu/config/config
xinu/config/y.tab.c
xinu/config/lex.yy.c
xinu/compile/version
xinu/compile/.vers_num
xinu/compile/.defs
xinu/compile/xinu
xinu/compile/xinu.map
xinu/include/conf.h
xinu/system/conf.c

# Swap files
**/*.sw?
